html,
body {
    margin: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 3;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.header__search {
    flex-grow: 1;
    margin: 0 20px;
}

.search-box {
    width: 100%;
    max-width: 80%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-left: 35px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.login_link,
.logout-button__submit {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.header__mypage {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
}

.header__list {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* ホバー効果 */
.logout-button__submit,
.header__mypage:hover,
.header__list:hover {
    opacity: 0.8;
}

/* コンテンツ */
.content__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    font-family: Inter;
    color: #000000;
}