html,
body {
    margin: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    /* flex-wrap: wrap; */
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    margin: 0 auto;
    flex-wrap: nowrap;
}

.header__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.header__search {
    flex-grow: 1;
    margin: 0 20px;
}

.search-box {
    width: 100%;
    max-width: 80%;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-left: 50px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.logout-button__submit {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

.header__mypage {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
}

.header__list {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* ホバー効果 */
.logout-button__submit,
.header__mypage:hover,
.header__list:hover {
    opacity: 0.8;
}

/* レスポンシブ（タブレット対応） */
/* @media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__search {
        width: 100%;
        margin: 10px 0;
    }

    .header__button {
        width: 100%;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 10px;
    }
} */

/* コンテンツ */
.content__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    font-family: Inter;
    color: #000000;
}