.detail-form__inner {
    display: flex;
    gap: 24px;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.detail-image {
    flex: 1;
    display: flex;
    /* display: flex; */
    /* align-items: center; */
    justify-content: right;
    align-items: center;
    /* max-width: 500px; */
    /* max-width: 30%; */
}

.detail-image img {
    max-width: 70%;
    height: auto;
    /* max-height: 100px; */
    /* object-fit: contain; */
}

.detail-form__inner .detail-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 商品 */
.item-name {
    font-weight: 700;
    font-size: 45px;
    color: #000000;
}

.brand {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.price {
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    color: #000000;
}

.price-span {
    font-size: 45px;
}

.like-comment {
    display: flex;
    margin-left: 40px;
    gap: 100px;
}

.like {
    display: flex;
    flex-flow: column;
}

.like-img {
    width: 40px;
    height: 40px;
    /* filter: invert(1.0); */
}

.like-img__liked {
    width: 40px;
    height: 40px;
}

.like-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.comment {
    display: flex;
    flex-flow: column;
}

.comment-img {
    width: 40px;
    height: 40px;
}

.count {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.detail-form__buy-button {
    color: #ffffff;
    background: #ff5555;
    font-weight: 700;
    font-size: 30px;
    border-radius: 4px;
    border: none;
    width: 70%;
    /* height: auto; */
    height: 50px;
}

.detail-form__buy-button.disabled {
    color: #ffffff;
    background-color: #d9d9d9;
    font-weight: 700;
    /* font-size: 30px;
    border-radius: 4px;
    border: none;
    width: 50%;
    height: auto; */
}

/* 商品説明 */
.title-description {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    color: #000000;
}

.item-description {
    font-weight: 400;
    font-style: regular;
    font-size: 24px;
    color: #000000;
}

/* 商品の情報 */
.title-info {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    color: #000000;
}

.category-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.category {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.title-category {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: #000000;
}

.category__name {
    display: inline-block;
    border: none;
    background-color: #d9d9d9;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.status-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.title-status {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: #000000;
}

.condition {
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    color: #000000;
}

/* コメント */
.title-comment {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    color: #5f5f5f;
}

.comment-box {
    max-height: 20em;
    overflow: auto;
    padding: 10px;
    border: none;
    width: 70%;
    field-sizing: content;
}

.comment-user-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.comment-user__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.comment-user__name {
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    color: #000000;
}

.comment__content {
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    max-width: 100%;
}

.title-comment-form {
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
    color: #000000;
}

.input-comment-group {
    display: flex;
    flex-direction: column;
}

.comment__input {
    border-radius: 5px;
    width: 70%;
    border: 2px solid #5f5f5f;
    background-color: rgba(217, 217, 217, 0);
}

.comment-error {
    color: #ff0000;
}

.comment__submit {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    color: #ffffff;
    background-color: #ff5555;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
    /* height: auto; */
    height: 50px;
}

.comment__submit.disabled {
    color: #ffffff;
    background-color: #d9d9d9;
}